<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:align="center" style="color: #333333;border-top:1px dashed #000000;border-left:1px dashed #000000;width: 300px;">
        <div style="display:flex;flex-direction: row;width: 100%;">
            <label style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">City</label>
            <span style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">
                <select name="city" id="city">
                    <option value="">please choose a city</option>
                    <option th:selected="${weather.getCityName()==city}"
                            th:each="city : ${cities}"
                            th:value="${city}" th:text="${city}">
                    </option>
                </select>
            </span>
        </div>
        <div style="display:flex;flex-direction: row;width: 100%;">
            <label style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">UpdateTime</label>
            <span style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;" th:text="${weather.getDtTime()}"></span>
        </div>
        <div style="display:flex;flex-direction: row;width: 100%;">
            <label style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">Weather</label>
            <span style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;" th:text="${weather.getWeather()}"></span>
        </div>
        <div style="display:flex;flex-direction: row;width: 100%;">
            <label style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">Temperature</label>
            <span style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;" th:text="${weather.getTemperature()}"></span>
        </div>
        <div style="display:flex;flex-direction: row;width: 100%;">
            <label style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;">Wind</label>
            <span style="width: 50%;border-right:1px dashed #000000;border-bottom:1px dashed #000000;" th:text="${weather.getWind()}"></span>
        </div>
    </div>
</body>
</html>

<script>
    $("#city").bind("change", function () {
        var id = $("#city option:selected").val();
        $.ajax({
            type: "POST",
            url: `/api/v1/getWeatherByCity/${id}`,
            data: {},
            success: function(response){

            },
            error: function(error){

            }
        });
    });
</script>